    * {
        padding: 0;
        margin: 0;
        border-radius: 3px;
        font-family: 'Trebuchet MS';
    }
    
    nav a {
        text-decoration: none;
        color: #fff;
    }
    
    nav,
    footer {
        background-color: blueviolet;
        margin: 3px 1%;
    }
    
    fieldset {
        margin: 2px 1%;
        border: 1px solid #000;
    }
    
    legend {
        border: 1px solid #000;
        padding: 2px 3px;
        background-color: rgb(246, 100, 2);
        color: #fff;
        margin-left: 9px;
    }
    
    footer {
        padding: 6px 9px;
        color: #fff;
        text-align: center;
    }
    
    nav dl {
        padding: 5px 3px;
    }
    
    #font-family {
        font-family: 'Arial';
    }
    
    p {
        margin: 5px 2px 5px 5px;
        padding: 8px;
        background-color: #eee;
        display: inline-block;
    }
    
    .source {
        display: inline;
        margin: 5px 6px;
    }
    
    .source .code {
        background-color: rgb(27, 26, 26);
        padding: 4px 7px;
        margin: 5px 5px;
        display: none;
        transition: .6s ease;
        white-space: nowrap;
    }
    
    .source:hover .code {
        display: inline;
    }
    
    .property {
        color: aqua;
    }
    
    #font-family {
        font-family: verdana;
    }
    
    .value {
        color: orange;
    }
    
    #italic-style {
        font-style: italic;
    }
    
    #small-caps {
        font-variant: small-caps;
    }
    
    #font-bold {
        font-weight: bold;
    }
    
    #font-bolder {
        font-weight: bolder;
    }
    
    #font-900 {
        font-weight: 900;
    }
    
    #font-small {
        font-size: small;
    }
    
    #font-large {
        font-size: large;
    }
    
    #text-color {
        color: #f00;
    }
    
    #text-direction {
        direction: rtl;
    }
    
    #letter-space {
        letter-spacing: 3px;
    }
    
    #words-space {
        word-spacing: 6px;
    }
    
    #text-indent {
        text-indent: 1cm;
    }
    
    #text-right {
        text-align: right;
    }
    
    #text-center {
        text-align: center;
    }
    
    #text-left {
        text-align: left;
    }
    
    #underline {
        text-decoration: underline;
    }
    
    #overline {
        text-decoration: overline;
    }
    
    #line-through {
        text-decoration: line-through;
    }
    
    #cap {
        text-transform: capitalize;
    }
    
    #upcase {
        text-transform: uppercase;
    }
    
    #lowcase {
        text-transform: lowercase;
    }
    
    #text-shadow {
        text-shadow: 1px 2px 3px blue;
    }
    
    .check {
        background: #000;
        color: rgb(229, 255, 0);
        padding: 4px;
        border-radius: 50%;
        white-space: nowrap;
        cursor: pointer;
        font-weight: bolder;
        font-size: 17px;
    }