    * {
        padding: 0;
        margin: 0;
        border-radius: 3px;
        font-family: 'Trebuchet MS';
    }
    
    nav a {
        text-decoration: none;
        color: #fff;
    }
    
    nav,
    footer {
        background-color: blueviolet;
        margin: 3px 1%;
    }
    
    fieldset {
        margin: 5px 2%;
        padding: 4px;
        border: 1px solid #000;
    }
    
    legend {
        border: 1px solid #000;
        padding: 2px 3px;
        background-color: rgb(246, 100, 2);
        color: #fff;
        margin-left: 9px;
    }
    
    footer {
        padding: 6px 9px;
        color: #fff;
        text-align: center;
    }
    
    nav dl {
        padding: 5px 3px;
    }
    
    #font-family {
        font-family: 'Arial';
    }
    
    p {
        margin: 6px 2px 6px 5px;
        padding: 8px;
        background-color: #eee;
        display: inline-block;
    }
    
    .source {
        display: inline;
        margin: 6px 3px;
    }
    
    .source .code {
        background-color: rgb(27, 26, 26);
        padding: 4px 7px;
        margin: 5px 5px;
        white-space: nowrap;
        display: none;
    }
    
    .source:hover .code {
        display: inline-block;
    }
    
    .property {
        color: aqua;
    }
    
    #font-family {
        font-family: verdana;
    }
    
    .value {
        color: rgb(255, 115, 0);
    }
    
    #italic-style {
        font-style: italic;
    }
    
    #small-caps {
        font-variant: small-caps;
    }
    
    #font-bold {
        font-weight: bold;
    }
    
    #font-bolder {
        font-weight: bolder;
    }
    
    #font-900 {
        font-weight: 900;
    }
    
    #font-small {
        font-size: small;
    }
    
    #font-large {
        font-size: large;
    }
    
    #text-color {
        color: #f00;
    }
    
    #text-direction {
        direction: rtl;
    }
    
    #letter-space {
        letter-spacing: 3px;
    }
    
    #words-space {
        word-spacing: 6px;
    }
    
    #text-indent {
        text-indent: 1cm;
    }
    
    #text-right {
        text-align: right;
    }
    
    #text-center {
        text-align: center;
    }
    
    #text-left {
        text-align: left;
    }
    
    #underline {
        text-decoration: underline;
    }
    
    #overline {
        text-decoration: overline;
    }
    
    #line-through {
        text-decoration: line-through;
    }
    
    #cap {
        text-transform: capitalize;
    }
    
    #upcase {
        text-transform: uppercase;
    }
    
    #lowcase {
        text-transform: lowercase;
    }
    
    #text-shadow {
        text-shadow: 1px 2px 3px blue;
    }
    
    .check {
        background: #000;
        color: rgb(229, 255, 0);
        padding: 4px;
        border-radius: 50%;
        white-space: nowrap;
        cursor: pointer;
        font-weight: bolder;
        font-size: 17px;
    }
    
    #img-simple,
    #img-border,
    #img-opacity {
        width: 90%;
        margin: 5px;
    }
    
    #img-border {
        border: 2px solid #f00;
    }
    
    #img-opacity {
        opacity: 50%;
    }
    
    h2 {
        background-color: aquamarine;
        padding: 5px;
        border: 1px solid green;
        border-radius: 5px;
        position: relative;
    }
    
    .box {
        width: 40%;
        display: inline-block;
        margin: 5px;
    }
    
    #color-link {
        color: green;
    }
    
    #link-hover:hover {
        color: red;
    }
    
    #link-click:active {
        color: pink;
    }
    
    #slid-border {
        border: 2px solid black;
    }
    
    #dotted-border {
        border: 2px dotted purple;
    }
    
    .element {
        color: rgb(255, 196, 0);
    }
    
    #double-border {
        border: 8px double orange;
    }
    
    #margin-right,
    #margin-left,
    #margin-top,
    #margin-bottom {
        background-color: rebeccapurple;
        color: #fff;
        padding: 3px;
    }
    
    #margin-right {
        margin-right: 15px;
    }
    
    #margin-left {
        margin-left: 15px;
    }
    
    #margin-top {
        display: inline-block;
        margin-top: 15px;
    }
    
    .margin-top {
        height: 30px;
    }
    
    #margin-top {
        display: inline-block;
        margin-bottom: 15px;
    }
    
    .margin-bottom {
        height: 30px;
    }
    
    #pad {
        padding: 15px;
        color: #fff;
        display: inline-block;
        background-color: rebeccapurple;
        margin: 5px;
    }